@charset 'utf-8';

* {
  margin: 0;
}

canvas {
  width:  100vw;
  height: 100vh;
  display: block;
  background: #000;
}

div {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10rem;
  width: 10rem;
  height: 10rem;
}
div:nth-child(3) {
  bottom: 17rem;
  left: 9rem;
}
div:nth-child(4) {
  bottom: 9rem;
  left: 1rem;
}
div:nth-child(5) {
  bottom: 9rem;
  left: 17rem;
}
div:nth-child(6) {
  bottom: 1rem;
  left: 9rem;
}